<table>
  <thead>
    <tr>
      <th>Issuer</th>
      <th>Symbol</th>
      <th>Expiration</th>
      <th>Bid</th>
      <th>Bid YTM</th>
      <th>Ask</th>
      <th>Ask YTM</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="bond in bonds track by bond.i + bond.s | filter:filter | orderBy:predicate:reverse">
      <td>{{bond.i}}</td>
      <td>{{bond.s}}</td>
      <td><lb-expire date="{{bond.e}}"></td>
      <td>{{bond.b}}</td>
      <td>{{rb.YTMNowSymbol(bond.s,bond.b)|percentage}}</td>
      <td>{{bond.a}}</td>
      <td>{{rb.YTMNowSymbol(bond.s,bond.a)|percentage}}</td>
    </tr>
  </tbody>
</table>
